body{
	background-image: url(../items/tennisCourt.jpg);
	width: 100%;
	margin: 0;
	padding: 0;
}
nav{
	background-color: white;
}

nav ul{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 0;
	padding: 0;
}

nav ul li{
	text-decoration: none;
}

.naranja{
	background-color: #FF4500;
	color: white;
	font-size: 40px;
	display: inline;
	margin-top: 100px;
}

.principal{
	margin-left: 30px;
}

