body{
	background-image: url(../items/tennisCourt.jpg);
	background-repeat: no-repeat;
	background-size: 160% 200%;
	background-origin: left-top;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: helvetica;
}

nav{
	background-color: rgba(255, 255, 255, .9);
	width: 100%;
}

nav ul{
	display: flex;
	justify-content: space-around;
	margin: 0;
	padding: 0;
	align-items: center;
}

nav ul li{
	list-style: none;
	margin: 1px 0 1px 0;
}

.azul-rey{
	color:	#000080
}

.azul-fondo{
	color:#1E90FF;
}

.principal{
	background-color: #FF4500;
	padding: 15px;
	color: white;
	font-size: 35px;
	margin:80px 0 0 100px;
	width: 350px;
	position: relative;
}

.principal::before{
	content: "y";
	color: transparent;
	background-color: #FF4500;
	position: absolute;
	display: block;
	padding: 15px;
	top: 0;
	left: -76px;
	transform: skew(44deg);
	width: 100px;
	z-index: -1;
}

.blanco{
	background: white;
	width:350px;
	margin-left: 180px;
	padding: 5px 15px;
	box-shadow: 7px 7px 10px rgba(0, 0, 0, .1);
}

.tenis {
	display: flex;
	margin: 30px 0 30px 0;
}

.blanco div img{
	height: 50px;
	width: 50px;
}

.blanco div p{
	margin: 5px;
	padding-left: 10px;
}

.texto{
	width: 400px;
	font-size: 18px;
	position: relative;
	right: 100px;
	bottom: -150px;
	margin: 20px;
	color: white;
	position: absolute;
}

.texto::before{
	background: url(../items/comillas-blancas-1.png);
	background-size: contain;
	background-repeat: no-repeat;
	content: "";
	color: white;
	position: absolute;
	left: -70px;
	top: -10px;
	font-family: "Cinzel", serif;
	font-size: 150px;
	display: block;
	height: 60px;
	width: 60px;
}